html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  padding-top: 288px;
  box-sizing: border-box;
}

#hours, #locations {
  background-color: #262626;
}

#contact {
  background-color: #262626;
}

section {
  margin: 0;
  padding: 144px 0 144px 144px;
  overflow: hidden;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0 0 48px 0;
  padding: 12px;
  box-sizing: border-box;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-align: right;
  margin: 0;
  padding: 12px;
  width: 320px;
  box-sizing: border-box;
}

ul {
  margin: 0 0 96px 0;
  padding: 0;
  padding-left: 320px;
  list-style: none;
}
ul li span, ul li a {
  margin: 0;
  padding: 12px;
  display: inline-block;
}
ul li.bold {
  font-weight: 700;
}
ul li.opening {
  padding: 12px;
}
ul li .date {
  padding: 0;
  width: 32px;
}
ul li .day {
  padding: 0;
  width: 128px;
  margin-right: 8px;
}
ul li .time {
  padding: 0;
  font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  font-weight: 700;
}

footer {
  background-color: #262626;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  margin: 0;
  padding: 8px 24px;
  float: left;
}
footer .button {
  float: right;
}

#logo {
  margin: 0;
  padding: 0 12px;
  width: 320px;
  height: auto;
}

.button {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  display: inline-block;
  padding: 8px 12px;
}
.button.icon {
  padding: 8px;
}
.button.icon svg {
  display: block;
  width: 24px;
}

.button.primary {
  background-color: black;
}
.button.primary:hover {
  background-color: #1a1a1a;
}
.button.primary:focus {
  background-color: #1a1a1a;
  outline-offset: -2px;
  outline-color: #09f;
  outline-style: solid;
  outline-width: 2px;
}

a {
  color: rgba(255, 255, 255, 0.9);
}
a:hover {
  color: white;
  background-color: #262626;
  text-decoration: none;
}
a:focus {
  background-color: #262626;
  outline-offset: 2px;
  outline-color: #09f;
  outline-style: solid;
  outline-width: 2px;
}

b {
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  h3, #logo {
    width: 192px;
  }

  ul {
    padding-left: 192px;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 48px 0 48px 48px;
  }

  #logo {
    font-size: 60px;
    line-height: 72px;
  }
}
@media screen and (max-width: 600px) {
  h3 {
    width: 100%;
    text-align: left;
  }

  ul {
    padding-left: 0;
    margin: 0 0 48px 0;
  }
}
@media screen and (max-width: 480px) {
  section {
    padding: 48px 12px;
  }
}
@media screen and (max-height: 768px) {
  #main {
    padding-top: 192px;
  }
}
@media screen and (max-height: 560px) {
  #main {
    padding-top: 48px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
