body{
  background-color: #222;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

#main{
  margin: 240px 192px 0;
}

h1{
  margin: 0 0 8px 0;
  padding: 0;
  display: block;

  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

b{
  font-weight: 700;
}

ul.taglines{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0 0 0 calc(161px + 24px);

  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
}

ul.taglines li{
  margin: 0 0 8px 0;
}

footer{
  background-color: #333;
  padding: 12px 36px 12px 0;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p{
  margin: 0;
  padding: 12px 12px 12px 192px;
  display: inline-block;
}

footer a{
  color: #ccc;
  text-decoration: underline;
}

footer a:hoover{
  color: #fff;
  text-decoration: none;
}

#social{
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

#social li{
  float: left;
  padding: 0;
  margin: 0;
}

#social li a{
  padding: 12px;
  margin: 0;
  display: block;
}

#social li a:hover{
  background-color: #222;
}

#social li a svg{
  display: block;
}

@media screen and (min-width: 1024px) {
  h1{
    font-size: 80px;
    line-height: 96px;
    font-weight: 700;
  }

  ul.taglines{
    padding: 0 0 0 calc(322px + 24px);
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
  }
}

@media screen and (max-width: 767px) {
  #main{
    margin: 240px 48px 0;
  }

  footer p{
    padding: 12px 12px 12px 48px;
  }
}

@media screen and (max-height: 767px) {
  #main{
    margin: 48px 48px 0;
  }

  footer p{
    padding: 12px 12px 12px 48px;
  }
}

@media screen and (max-width: 480px) {
  ul.taglines{
    padding: 0;
  }
}
