//colors
@import "colors";

body{
  background-color: $color-background-1;
  color: $color-text-light-primary;

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;

  margin: 0;
  margin-bottom: 128px;
  padding: 0;
}

#main{
  margin: 288px 0 0 144px;
  padding: 36px;
  overflow: hidden;
}

// Patterns

ul.taglines{
  margin: 96px 0 0 0;
  padding: 0;

  list-style: none;
  float: left;

  li{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 8px 12px;

    &.bold{
      font-weight: 700;
    }
  }
}

.opening{
  .date{
    display: inline-block;
    width: 32px;
  }
  .day{
    display: inline-block;
    width: 128px;
    margin-right: 8px;
  }
  .time{
    display: inline-block;
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    font-weight: 700;
  }
}

footer{
  background-color: $color-background-2;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;

  p{
    color: $color-text-light-secondary;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;

    margin: 0;
    padding: 8px 12px;
    float: left;
  }

  .button{
    float: right;
  }
}

// Components

#logo{
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  line-height: 96px;
  font-weight: 700;

  margin: 0;
  padding: 12px;
  float: left;
}

.button{
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;

  display: inline-block;
  padding: 8px 12px;

  &.icon{
    padding: 8px;

    svg{
      display: block;
      width: 24px;
    }
  }
}

.button.primary{
  background-color: $color-solid-black-100;
  &:hover{
    background-color: $color-solid-black-90;
  }
  &:focus{
    background-color: $color-solid-black-90;
    outline-offset: -2px;
    outline-color: #09f;
    outline-style: solid;
    outline-width: 2px;
  }
}

a{
  color: $color-text-light-highlight;
  font-weight: 300;
  text-decoration: underline;

  &:hover{
    color: $color-text-light-primary;
    text-decoration: none;
  }

  &:focus{
    outline-offset: 2px;
    outline-color: #09f;
    outline-style: solid;
    outline-width: 2px;
  }
}

// Start stacking
@media screen and (max-width: 480px){
  #logo{
    float: none;
  }
  ul.taglines{
    float: none;
    margin: 0 !important;
  }
}

// Tablet typo
@media screen and (max-width: 960px){
  #logo{
    font-size: 60px;
    line-height: 72px;
  }
  ul.taglines{
    margin: 72px 0 0 0;
  }
}

// Mobile typo
@media screen and (max-width: 560px){
  #logo{
    font-size: 40px;
    line-height: 48px;
  }
  ul.taglines{
    margin: 48px 0 0 0;
  }
}

@media screen and (max-height: 360px){
  #logo{
    font-size: 40px;
    line-height: 48px;
  }
  ul.taglines{
    margin: 48px 0 0 0;
  }
}

// Tablet spacing
@media screen and (max-width: 768px){
  #main{
    margin: 96px 0 0 48px;
  }
}

@media screen and (max-height: 800px){
  #main{
    margin: 96px 0 0 48px;
  }
}

// Phone spacing
@media screen and (max-height: 568px){
  #main{
    margin: 0;
  }
}

@media screen and (max-width: 560px){
  #main{
    margin: 0;
  }
}
