//colors
@import "colors";

body{
  background-color: $color-background-1;
  color: $color-text-light-primary;

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main{
  padding-top: 288px;
  min-height: 80vh;
  box-sizing: border-box;
}

#menu{
  background-color: $color-background-2;
}

section{
  margin: 0;
  padding: 144px;
  overflow: hidden;
}

// TYPOGRAPHY
h2{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0 0 48px 0;
  padding: 12px;
  box-sizing: border-box;
}

h3{
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-align: right;
  margin: 0;
  padding: 12px;
  width: 320px;
  box-sizing: border-box;
}

// Patterns

ul{
  margin: 0 0 96px 0;
  padding: 0 0 0 320px;
  list-style: none;

  li{
    padding: 12px;
    &.bold{
      font-weight: 700;
    }
  }
  li.opening{
    span{
      display: inline-block;
      margin-right: 8px;
    }
    .date{
      font-variant-numeric: tabular-nums;
      width: 32px;
    }
    .day{
      width: 128px;
      font-weight: 700;
    }
    .time{
      font-variant-numeric: tabular-nums;
    }
  }
}

footer{
  background-color: $color-background-2;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;

  p{
    color: $color-text-light-secondary;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;

    margin: 0;
    padding: 8px 24px;
    float: left;
  }

  .button{
    float: right;
  }
}

// Components

#logo{
  //font-family: 'Inter', sans-serif;
  //font-size: 80px;
  //line-height: 96px;
  //font-weight: 700;

  margin: 0;
  padding: 0 12px;
  width: 320px;
  height: auto;
}

.button{
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;

  display: inline-block;
  padding: 8px 12px;

  &.icon{
    padding: 8px;

    svg{
      display: block;
      width: 24px;
    }
  }
}

.button.primary{
  background-color: $color-solid-black-100;
  &:hover{
    background-color: $color-solid-black-90;
  }
  &:focus{
    background-color: $color-solid-black-90;
    outline-offset: -2px;
    outline-color: #09f;
    outline-style: solid;
    outline-width: 2px;
  }
}

a{
  color: $color-text-light-highlight;
  font-weight: 300;
  text-decoration: underline;

  &:hover{
    color: $color-text-light-primary;
    text-decoration: none;
  }

  &:focus{
    outline-offset: 2px;
    outline-color: #09f;
    outline-style: solid;
    outline-width: 2px;
  }
}

// Tablet landscape
@media screen and (max-width: 1024px){
  h3, #logo{width: 192px;}
  ul{padding: 0 0 0 192px;}
}

// Tablet portrait
@media screen and (max-width: 768px){
  section{padding: 48px;}
  #logo{
    font-size: 60px;
    line-height: 72px;
  }
  //h3, #logo{width: 240px;}
  //ul{padding: 0 0 0 240px;}
}

// Phone portrait
@media screen and (max-width: 560px){
  h3{
    width: 100%;
    text-align: left;
  }
  ul{
    padding: 0;
    margin: 0 0 48px 0;
  }
}

// Phone portrait small
@media screen and (max-width: 480px){
  section{padding: 48px 12px;}
  ul li{padding: 12px;}
}

// Height
@media screen and (max-height: 768px){
  #main{padding-top: 192px;}
}

@media screen and (max-height: 560px){
  #main{padding-top: 24px;}
}

/*

// Start stacking
@media screen and (max-width: 480px){
  #logo{
    float: none;
  }
  ul.taglines{
    float: none;
    margin: 0 !important;
  }
}

// Tablet typo
@media screen and (max-width: 960px){
  #logo{
    font-size: 60px;
    line-height: 72px;
  }
  ul.taglines{
    margin: 72px 0 0 0;
  }
}

// Mobile typo
@media screen and (max-width: 560px){
  #logo{
    font-size: 40px;
    line-height: 48px;
  }
  ul.taglines{
    margin: 48px 0 0 0;
  }
}

@media screen and (max-height: 360px){
  #logo{
    font-size: 40px;
    line-height: 48px;
  }
  ul.taglines{
    margin: 48px 0 0 0;
  }
}


@media screen and (max-height: 800px){
  #main{
    margin: 96px 0 0 48px;
  }
}

// Phone spacing
@media screen and (max-height: 568px){
  #main{
    margin: 0;
  }
}

@media screen and (max-width: 560px){
  #main{
    margin: 0;
  }
}
*/
