//colors
@import "colors";

html {
  scroll-behavior: smooth;
}

body{
  background-color: $color-background-1;
  color: $color-text-light-primary;

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main{
  padding-top: 288px;
  box-sizing: border-box;
}

#hours{
  background-color: $color-background-2;
}

#contact{
  background-color: $color-background-2;
}

section{
  margin: 0;
  padding: 144px 0 144px 144px;
  overflow: hidden;
}

// TYPOGRAPHY
h2{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0 0 48px 0;
  padding: 12px;
  box-sizing: border-box;
}

h3{
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-align: right;
  margin: 0;
  padding: 12px;
  width: 320px;
  box-sizing: border-box;
}

// Patterns

ul{
  margin: 0 0 96px 0;
  padding: 0;
  padding-left: 320px;
  list-style: none;

  a{}

  li{
    span, a{
      padding: 12px;
      display: inline-block;
    }
    &.bold{
      font-weight: 700;
    }
    &.opening{
      padding: 12px;
    }
    .date{
      padding: 0;
      width: 32px;
    }
    .day{
      padding: 0;
      width: 128px;
      margin-right: 8px;
    }
    .time{
      padding: 0;
      font-feature-settings: 'tnum';
      -webkit-font-feature-settings: 'tnum';
      -moz-font-feature-settings: 'tnum';
      font-weight: 700;
    }
  }
}

footer{
  background-color: $color-background-2;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;

  p{
    color: $color-text-light-secondary;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;

    margin: 0;
    padding: 8px 24px;
    float: left;
  }

  .button{
    float: right;
  }
}

// Components

#logo{
  margin: 0;
  padding: 0 12px;
  width: 320px;
  height: auto;
}

.button{
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;

  display: inline-block;
  padding: 8px 12px;

  &.icon{
    padding: 8px;

    svg{
      display: block;
      width: 24px;
    }
  }
}

.button.primary{
  background-color: $color-solid-black-100;
  &:hover{
    background-color: $color-solid-black-90;
  }
  &:focus{
    background-color: $color-solid-black-90;
    outline-offset: -2px;
    outline-color: #09f;
    outline-style: solid;
    outline-width: 2px;
  }
}

a{
  color: $color-text-light-primary;
  font-weight: 300;
  text-decoration: underline;

  &:hover{
    color: $color-text-light-highlight;
    background-color: $color-background-2;
    text-decoration: none;
  }

  &:focus{
    background-color: $color-background-2;
    outline-offset: 2px;
    outline-color: #09f;
    outline-style: solid;
    outline-width: 2px;
  }
}

// Tablet landscape
@media screen and (max-width: 1024px){
  h3, #logo{width: 192px;}
  ul{padding-left: 192px;}
}

// Tablet portrait
@media screen and (max-width: 768px){
  section{padding: 48px 0 48px 48px;}
  #logo{
    font-size: 60px;
    line-height: 72px;
  }
}

// Phone portrait
@media screen and (max-width: 600px){
  h3{
    width: 100%;
    text-align: left;
  }
  ul{
    padding-left: 0;
    margin: 0 0 48px 0;
  }
}

// Phone portrait small
@media screen and (max-width: 480px){
  section{padding: 48px 12px;}
}

// Height
@media screen and (max-height: 768px){
  #main{padding-top: 192px;}
}

@media screen and (max-height: 560px){
  #main{padding-top: 48px;}
}
